body {
    background-color: #f2f4f3;
    background-size: cover;
    margin: 0px;
    font-family:'Inter', sans-serif;
}

#header{
    display: flex;
    margin:0px 0px -50px 0px;
    height: 6vh;
    background-color: white;
}

#brand{
    color: #4ea891;
    font-size: 23px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 8px;;
    text-decoration: none;
}

#btns{
    margin-left: 1140px;
    margin-top: 10px;
}

#btn-cart{
    color: black;
    border-width: 0;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

#btn-bookings{
    margin-left: 20px;
    color: black;
    border-width: 0;
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.connexionCard {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 250px;
	width: 900px;
    /*margin-top: 300px;
	margin-left: 200px;
	margin-right: 70px;*/
    border-radius: 8px;
	background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}

.message{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: -10px;
}
.trip{
    display:flex;
    justify-content: space-between;
    background-color: #f2f4f3;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    width: 800px;
    border-radius: 5px;
    
}
#delete{
    background-color: #4ea891;
    height: 40px;
	width: 40px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    border-width: 0;
    margin-top: 5px;
    margin-right:10px;
}

#totalContainer{
    background-color:#00153E ;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
p{
    font-size: 13px;
    
}
#total{
    color:white;
    margin-left: 50px;
}
#purchase{
    background-color: #4ea891;
    height: 30px;
	width: 100px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    border-width: 0;
    
    margin-right: 50px;
    cursor: pointer
}
#linkButton{
    margin-top:auto;
    margin-bottom:auto;
}
